.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #00000030;
}

.app-title {
  color: brown;
  text-transform: uppercase;
}

.links-and-searchbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.links-list {
  padding-left: 0;
  display: flex;
  gap: 32px;
  list-style-type: none;
  margin-inline: auto;
}

.link {
  text-decoration-line: none;
  color: brown;
  font-weight: 700;
}

.search-container {
  display: flex;
  gap: 4px;
}

.search-input {
  outline: none;
  font-family: Roboto;
  padding: 4px 8px;
  color: brown;
}
.search-button {
  background-color: rgb(175, 50, 50);
  color: white;
  font-family: Roboto;
  outline: none;
  border-width: 0px;
  border-radius: 4px;
  padding: 8px 16px;
}
